
<div class="table-container" *ngIf="products && products.length; else noProductsTemplate">
    
    <table>
        <thead>
            <tr>
                
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                
                
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products">    
                <td>{{product.name}}</td>
                <td>{{product.description}}</td>
                <td>{{product.price}}</td>
            
            </tr>
        </tbody>
    </table>
</div>
<ng-template #noProductsTemplate>
    <p>No product available.</p>
</ng-template>
  <div class="buttons">
            <button type="button" (click)="navigate('/login')">Login</button>
        </div>

<!--
<div class="buttons">
            <button type="button" (click)="navigate('/add-product')">Add product</button>
</div>


<div class="buttons">
    <button type="reset" (click)="logout()">Logout</button>
</div>
-->



